body {
	margin: 0;
	padding: 0;
}
h1 {
	color: white;
	background: darkorange;
	text-align: center;
	position: fixed;
	width: 100%;
	top: -22px;
	line-height: 1;
	padding: 4px;
	z-index: 995;
}
h3 {
	border-bottom: 1px solid darkorange;
}
pre {
	margin: 0;
}
.title {
	width: 100%;
    font-size: 32px;
}
.auto {
	margin: 5px;
	word-spacing: .00001px;
}
.autobiography {
	position: absolute;
	top: 200px;
	left: 60px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.param {
	position: absolute;
    top: 190px;
    right: 80px;
}
.ronnie:hover {
	padding: 2px;
	background: red;
}
.center {
	color: darkorange;
	position: fixed;
    top: 23px;
    border-bottom: 2px solid darkorange;
    width: 100%;
    text-align: center;
    padding: 2px 7px 2px 7px;
    z-index: 999;
}
.btnGallery:hover {
	box-shadow: 1px 1px 15px darkorange;
}
.photos {
	text-align: center;
	position: absolute;
	top: 120px;
	right: 40px;
	left: 40px;
}
.btnMain {
	position: fixed;
	padding: 10px 15px 10px 15px;
	top: .1px;
	left: .1px;
	z-index: 999;
	height: 19px;
}
.btnMain a {
	position: fixed;
	padding: 10px 15px 10px 15px;
	top: .1px;
	left: .1px;
	color: transparent;
	display: block;
	text-align: center;
	height: 19px;
	z-index: 999;
	width: 100%;
}
#logo {
	position: fixed;
	top: 0;
	height: 39px;
	left: 48%;
	z-index: 998;
}
#background {
	position: fixed;
	z-index: -1;
}
#ronnie {
    color: #FFFFFF; /* Цвет обычной ссылки */
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed white;
	line-height: .8;
}
#ronnie:visited {
    color: #FFFFFF; /* Цвет посещенной ссылки */
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed white;
	line-height: .8;
}
#mainImg {
	position: absolute;
	width: 25%;
	top: 130px;
    left: 485px;
}
#labelAutobiography {
	color: white;
	background-color: darkorange;
	font-family: Arial;
	font-size: 22px;
	position: absolute;
    top: 135px;
    left: 68px;
    padding: .2px 87px .2px 87px;
}
#btnGallery {
	background: darkorange; 
	font-family: 'Arial';
	color: white;
	text-decoration: none;
	position: absolute;
    right: 46%;
    padding: 2px 10px 2px 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 600px;
}
#identification {
	color: white;
	background-color: darkorange;
	font-family: Arial;
	font-size: 22px;
	position: absolute;
    top: 135px;
    right: 75px;
    padding: .2px 87px .2px 87px;
}
#nickname {
	font-size: 20px;
}
#telegram {
	padding: 2px 8px 2px 8px;
	color: darkorange;
	text-decoration: none;
	display: inline-block;
	position: fixed;
 	border-radius: 20px;
 	border: 1px solid darkorange;
 	bottom: 2px;
 	right: 2px;
}
#telegram:visited {
	padding: 2px 8px 3px 2px;
	color: darkorange;
	text-decoration: none;
	display: inline-block;
	position: fixed;
 	border-radius: 20px;
 	border: 1px solid darkorange;
 	bottom: 2px;
 	right: 2px;
}
#instagram {
	padding: 2px 8px 2px 8px;
	color: darkorange;
	text-decoration: none;
	display: inline-block;
	position: fixed;
 	border-radius: 20px;
 	border: 1px solid darkorange;
 	bottom: 2px;
 	left: 2px;
}
#instagram:visited {
	padding: 2px 8px 2px 8px;
	color: darkorange;
	text-decoration: none;
	display: inline-block;
	position: fixed;
 	border-radius: 20px;
 	border: 1px solid darkorange;
 	bottom: 2px;
 	left: 2px;
}
#titleGallery {
	color: white;
	background: darkorange;
	text-align: center;
	position: fixed;
	width: 100%;
	top: -22px;
	line-height: 1;
	padding: 4px;
}
#boysboys {
	color: black;
	display: inline-block;
}
#boysboys:visited {
	color: black;
	display: inline-block;
}
#toTop {
width:40px;
height: 20px;
border:3px solid darkorange;
background-image: url(toTop.png);
text-align:center;
padding:5px;
padding-top: 30px;
padding-bottom: 1px;
border-radius: 50px;
position:fixed;
bottom:10px;
right:10px;
cursor:pointer;
display:none;
font-size:1px;
z-index: 999;
}
.body-wrapper{
  width:100%;
  padding-top:40%;
  overflow: hidden;
  position: relative;
}
.body{
  position: absolute;
  top:0;
  left:0;
  width:100%;
}
.mainImg {
    background-attachment: fixed;
}

/* For mobile devices */

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} }

@media screen and (max-width: 320px) {
@-ms-viewport { width: 320px; }
}

@media screen and (max-width: 320px) {
@-ms-viewport { width: 320px; }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
@-ms-viewport { width: 768px; }
}




/* Small Devices, Tablets */
@media only screen and (max-width : 1024px) {
	.center {
		left: 36.5%;
	}
    pre  {
        width: 250px;
        font-size: 10px;
    }
    .autobiography {
    	top: 180px;
    	left: 2%;
    }
    #labelAutobiography {
    	left: 2%;
    	width: 85px;
    	font-size: 13px;
    }
    #identification {
    	right: 2%;
    	width: 85px;
    	font-size: 13px;
    }
    .param {
    	width: 220px;
    	top: 160px;
    	right: 4.5%;
    }
    #nickname {
    	font-size: 16px;
    }
    #mainImg {
	position: absolute;
	width: 23%;
	top: 130px;
    left: 380px;
    border: 5px ridge gold;
}
#btnGallery {
    right: 45%;
    top: 460px;
}
#telegram {
	position: fixed;
  	left: 39%;
 	top: 510px;
}
#telegram:visited {
	position: fixed;
  	left: 39%;
	top: 510px;
}
#instagram {
	position: fixed;
  	right: 20%;
 	top: 510px;
 	width: 70px;
}
#instagram:visited {
	position: fixed;
  	right: 20%;
 	top: 510px;
 	width: 70px;
}
#corp {
	position: fixed;
  	left: 43%;
 	top: 535px;
}
#corp1 {
 	top: 3200px;
}
#toTop {
visibility: hidden;
}
