body {
	margin: 0;
	padding: 0;
}
h1 {
	color: white;
	background: darkorange;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 150px;
	top: -64px;
	line-height: 1;
	padding-top: 4px;
	z-index: 998;
	overflow: hidden;
    white-space: nowrap; 
    text-align: center;
    height: 2.5em;  
    line-height: 2.5em;
    font-size: 75px;
    left: 9.5%;
}
h3 {
	border-bottom: 1px solid darkorange;
}
pre {
	margin: 0;
}
.auto {
	margin: 5px;
	word-spacing: .00001px;
}
.autobiography {
	position: absolute;
	top: 5500px;
	left: 60px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.param {
	position: absolute;
    top: 5590px;
    right: 80px;
}
.ronnie:hover {
	padding: 2px;
	background: red;
}
.center {
	background: white;
	position: fixed;
    top: 112px;
    left: 0px;
    text-align: center;
    border: 10px solid darkorange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: transparent;
    padding: 2px 7px 2px 7px;
    z-index: 999;
    width: 1234.5px;
    font-size: 70px;
}
.btnGallery:hover {
	box-shadow: 1px 1px 15px darkorange;
}

.btnMain {
	position: fixed;
	padding: 10px 15px 10px 15px;
	top: .1px;
	left: .1px;
	z-index: 999;
	height: 39px;
}
.btnMain a {
	position: fixed;
	padding: 10px 15px 10px 15px;
	top: .1px;
	left: .1px;
	color: transparent;
	display: block;
	text-align: center;
	height: 170px;
	width: 100%;
	z-index: 999;
}
#logo {
	position: fixed;
	top: 0;
	height: 182px;
	z-index: 998;
}
#background {
	position: fixed;
	z-index: -1;
}
#mainImg {
	position: absolute;
	width: 75%;
	top: 330px;
    left: 113px;
    border: 15px ridge gold;
}
#labelAutobiography {
	color: white;
	background-color: darkorange;
	font-family: Arial;
	font-size: 100px;
	position: absolute;
    top: 1385px;
    left: 328px;
    padding: .2px 87px .2px 87px;
}
#btnGallery {
	background: darkorange; 
	font-family: 'Arial';
	color: white;
	text-decoration: none;
	position: absolute;
    right: 46%;
    padding: 2px 10px 2px 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 600px;
}
#identification {
	color: white;
	background-color: darkorange;
	font-family: Arial;
	font-size: 22px;
	position: absolute;
    top: 5535px;
    right: 75px;
    padding: .2px 87px .2px 87px;
}
#nickname {
	font-size: 20px;
}
#telegram {
	padding: 2px 8px 2px 8px;
	background-image: url(telegram.png);
	color: white;
	text-decoration: none;
	display: inline-block;
	position: fixed;
  	left: 44%;
 	top: 660px;
 	border-radius: 20px;
 	border: 1px solid white;
}
#telegram:visited {
	padding: 2px 8px 3px 2px;
	background-image: url(telegram.png);
	color: white;
	text-decoration: none;
	display: inline-block;
	position: fixed;
  	left: 44%;
 	bottom: 45px;
 	border-radius: 20px;
 	border: 1px solid white;
}
#instagram {
	padding: 2px 8px 2px 8px;
	background-image: url(instagram.png);
	color: white;
	text-decoration: none;
	display: inline-block;
	position: fixed;
  	left: 50.5%;
 	top: 660px;
 	border-radius: 20px;
 	border: 1px solid white;
}
#instagram:visited {
	padding: 2px 8px 2px 8px;
	background-image: url(instagram.png);
	color: white;
	text-decoration: none;
	display: inline-block;
	position: fixed;
  	left: 50.5%;
 	bottom: 45px;
 	border-radius: 20px;
 	border: 1px solid white;
}
#corp {
	position: fixed;
  	left: 45.3%;
 	top: 675px;
}
#corp1 {
	position: absolute;
	text-align: center;
  	left: 44.8%;
  	padding-top: 20px;
  	padding-bottom: 20px;
 	top: 1670px;
}
#titleGallery {
	color: white;
	background: darkorange;
	text-align: center;
	position: fixed;
	width: 100%;
	top: -22px;
	line-height: 1;
	padding: 4px;
}
#boysboys {
	color: black;
	display: inline-block;
}
#boysboys:visited {
	color: black;
	display: inline-block;
}
#toTop {
width:40px;
height: 20px;
border:3px solid darkorange;
background-image: url(toTop.png);
text-align:center;
padding:5px;
padding-top: 30px;
padding-bottom: 1px;
border-radius: 50px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
color: darkorange;
font-family:verdana;
font-size:11px;
z-index: 999;
}
.body-wrapper{
  width:100%;
  padding-top:40%;
  overflow: hidden;
  position: relative;
}
.body{
  position: absolute;
  top:0;
  left:0;
  width:100%;
}
.mainImg {
    background-attachment: fixed;
}
body {
  /* Location of the image */
  background-image: url(background_mobile.png);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}